@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

:root {
    --orange: hsl(25, 97%, 53%);
    --white: hsl(0, 0%, 100%);
    --light-grey: hsl(217, 12%, 63%);
    --medium-grey: hsl(216, 12%, 54%);
    --dark-blue: hsl(213, 19%, 18%);
    --very-dark-blue: hsl(216, 12%, 8%);

    --overpass: 'Overpass', sans-serif;
}

body {
    background-color: var(--very-dark-blue);
    display: flex;
    place-content: center;
    place-items: center;
    height: 100vh;
}

.ratingState,
.thankYouState {
    background: radial-gradient(98.96% 98.96% at 50% 0%, hsl(215, 20%, 17%) 0%, hsl(216, 24%, 12%) 100%);
    box-shadow: 0px 4px 4px hsla(0, 0%, 0%, 0.25);
    border-radius: 0.938rem;
    height: max-content;
    width: 20.438rem;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    box-sizing: border-box;
}

.circle {
    background-color: var(--dark-blue);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    position: relative;
    margin-bottom: 1rem;
}

.circle img {
    width: 0.875rem;
    position: absolute;
    inset: 0;
    margin: auto;
}

.title {
    font-size: 1.5rem;
    font-family: var(--overpass);
    font-weight: 700;
    color: var(--white);
    line-height: 1.899rem;
}

.text {
    margin-top: 0.625rem;
    font-family: var(--overpass);
    color: var(--light-grey);
    font-size: 14px;
    line-height: 22px;
}

.rating {
    background-color: var(--dark-blue);
    border: none;
    color: var(--light-grey);
    width: 42px;
    height: 42px;
    border-radius: 50%;
    font-size: 14px;
    line-height: 24px;
    cursor: pointer;
    font-family: var(--overpass);
    font-weight: 700;
}

.rating:hover {
    background-color: var(--orange);
    color: var(--white);
}

.rating:focus {
    background-color: var(--medium-grey);
    color: var(--white);
}

.rating-container {
    margin: 1.5rem 0;
    display: flex;
    gap: 18px;
}

.submit {
    background-color: var(--orange);
    border: none;
    color: var(--white);
    padding: 13px;
    border-radius: 22.5px;
    text-transform: uppercase;
    font-family: var(--overpass);
    font-size: 15px;
    line-height: 19px;
    font-weight: 700;
    letter-spacing: 2px;
    cursor: pointer;
    text-align: center;
}

.submit:hover {
    background-color: var(--white);
    color: var(--orange);
}

.thankYouState {
    display: none;
    text-align: center;
    padding: 34px 24px 37px 24px;
}

.thankYouState img {
    width: 144px;
    margin-left: auto;
    margin-right: auto;
}

.userRating {
    color: var(--orange);
    font-family: var(--overpass);
    font-size: 14px;
    line-height: 22px;
    margin: 29px auto;
    background-color: var(--dark-blue);
    border-radius: 22.5px;
    padding: 5px 12px;
    width: max-content;
}

.attribution { 
    font-size: 12px; 
    text-align: center;
    color: var(--light-grey);
    position: absolute;
    bottom: 1em;
}

.attribution a { 
    color: var(--orange); 
}

@media only screen and (min-width: 1440px) {
    .ratingState,
    .thankYouState {
        width: 412px;
        padding: 32px;
    }

    .circle {
        width: 48px;
        height: 48px;
        margin-bottom: 30px;
    }

    .circle img {
        width: 16.75px;
        height: 16px;
    }

    .title {
        font-size: 28px;
    }

    .text {
        margin-top: 0.938rem;
        font-size: 15px;
    }

    .rating-container {
        margin-bottom: 32px;
    }

    .rating {
        width: 51px;
        height: 51px;
        font-size: 16px;
    }

    .thankYouState img {
        width: 162px;
    }

    .userRating {
        margin: 32px auto;
        font-size: 15px;
        line-height: 24px;
        padding: 4px 20px;
    }
}
